/* Cases */

.cases {
    padding: 50px 0px;
    display: flex;
    align-items: stretch;
    height: calc(100vh - 75px);
    height: auto;
    position: relative;
    overflow: hidden;
}

.cases__inner {
    height: 100%;
}

.cases__inner>h3 {
    padding: 10px 0 80px;
}

.cases__slick {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

.cases__slick .slick-arrow {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #235279;
    transform: translateY(-50%);
    color: #fff;
    font-size: 25px;
    z-index: 2;
}

.cases__slick .slick-arrow.slick-next {
    right: 0;
}

.cases__slick .slick-arrow.slick-prev {
    left: 0;
}

.cases__slick .slick-arrow svg {
    position: absolute;
}

.cases__slick .slick-prev svg {
    transform: translate(-60%, -50%);
}

.cases__slick .slick-next svg {
    transform: translate(-40%, -50%);
}

.slick-content {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    height: auto;
}

.cases__slick-footer {
    width: 100%;
}

.cases__slick .slick-dots {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 0;
    list-style: none;
}

.cases__slick .slick-dots li {
    margin: 0 3px;
}

.cases__slick .slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    font-size: 0;
    border: none;
    background-color: #cccccc;
}

ul.slick-dots {
    display: flex;
}

.cases__slick .slick-dots li.slick-active button {
    background-color: #2b2a2a;
}

.cases__slick .slick-dots li:hover button {
    background-color: #2b2a2a;
}

.cases__slick .slick-arrow.slick-disabled {
    background-color: #9a9c9e;
    cursor: default;
    transition: .5s;
}

.cases__slick .slick-prev::before,
.cases__slick .slick-next::before {
    font-size: 0;
}

.logo-img {
    width: 100%;
    height: 130px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-img img {
    display: block;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.logo-title {
    width: 100%;
    height: 40%;
    text-align: center;
    color: #333132;
    padding: 20px 10px;
}

.logo-title h3 {
    font-size: calc(12px + 1rem);
    font-family: WonderBold;
}

.logo-title p {
    font-family: WonderRegularItalic;
    margin: 10px 0 0;
    letter-spacing: 0.6px;
    font-size: 1.6rem;
}

.ver-mais {
    display: block;
    height: 40px;
    margin: auto auto 0;
    border: none;
    border-radius: 5px;
    background-color: #df6a06;
    color: #fff;
    letter-spacing: 1px;
    font-family: WonderMedium;
    font-size: 1.5rem;
    padding: 0 20px;
}

.ver-mais:hover {
    background-color: #ba5600;
    border: 4px #ba5600 solid;
}

.slick__footer {
    width: 100%;
    position: relative;
    height: 20px;
}

.slick__footer ul {
    bottom: 0;
    top: 0;
}

:host>>>.cases__slick-item {
    display: flex;
    flex-flow: column;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 12px;
    box-shadow: 2px 2px 9px 2px rgba(97, 90, 90, 0.2);
    height: calc(280px + 7rem);
    margin: 9px 10px 5px;
    position: relative;
}

:host>>>.slick-dots {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
}

:host>>>.slick-dots li {
    padding: 3px;
    margin: 0 5px;
    display: flex;
    align-items: center;
}

:host>>>.slick-dots li button {
    width: 6px;
    height: 6px;
    background-color: #949494;
    border-radius: 50%;
    transition: .5s;
    border: none;
    font-size: 0;
}

:host>>>.slick-dots li.slick-active button {
    background-color: #000;
    border-radius: 3px;
    transition: .5s;
    width: 20px;
}

:host>>>.slick-current {
    box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

:host>>>.slick-slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 7px;
    background-color: #235279;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    transition: .2s;
}

:host>>>.slick-slide.slick-current::after {
    width: 100%;
    transition: 0.6s;
}


/* Acessibilidade */

.contraste .circle {
    background-color: #fff2ccb0;
    box-shadow: inset 5px 2px 15px 8px rgba(0, 0, 0, 0.6);
}

.contraste .cases__slick-item {
    background-color: #000000;
    border: 2px #fce300 solid;
}

.contraste .slick-slide::after {
    background-color: #fce300!important;
}

.contraste .logo-img {
    filter: contrast(2.1);
    background-color: #fff;
    background-size: 100%;
    border: 5px #fce300 solid;
}

.contraste .logo-title {
    color: #fce300;
    font-family: WonderMedium;
    padding: 20px 0;
}

.contraste .logo-title p {
    font-family: WonderRegular;
    font-size: 1.9rem;
}

.contraste .ver-mais {
    background-color: #fce300;
    color: #000;
    font-family: WonderBold;
}

.contraste .slick-current {
    border-top: none;
}

.contraste .ver-mais:hover {
    background-color: #fff;
    color: #000;
}

.contraste .cases__slick .slick-arrow {
    background-color: #fce300;
    color: #000;
}

.contraste .cases__slick .slick-arrow:hover {
    background-color: #fff;
}

:host>>>.contraste .slick-dots li button {
    background-color: #ffffff;
}

:host>>>.contraste .slick-dots li.slick-active button {
    background-color: #fce300;
}


/* Fim Acessibilidade */

@media (max-width: 800px) {
    .slick-content {
        width: 60%;
    }
}

@media (max-width: 600px) {
    .cases__inner>h3 {
        padding: 10px 0 30px;
    }
    .cases__slick-item {
        padding: 21px 20px;
    }
    .slick-content {
        width: 80%;
    }
}

@media (max-width: 320px) {
    .cases__slick-item {
        padding: 10px 20px;
    }
}