.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .modal.active {
  top: 0;
  opacity: 1;
}

.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.modal-inner {
  position: absolute;
  top: -100%;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  z-index: 1;
  background-color: #fff;
  transition: 1s;
  transform: translateY(-50%);
}

.modal-inner.modalOpen{
  top: 50%;
}

.fecharModal {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 0 0 auto;
  border-radius: 50%;
  transform: translate(40%, -50%);
  background-color: #da2403;
  color: #fff;
  font-size: 2rem;
  border: none;
}

.modal-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column;
  padding: 30px;
  overflow-y: auto;
}

.modal-image {
  width: 20%;
}

.title-modal {
  font-size: 3rem;
  padding: 20px 0 10px;
}

.title-modal ~ p {
  font-family: WonderRegularItalic;
  font-size: 1.8rem;
  color: #333132;
}

.servico-prestado {
  font-size: 1.7rem;
  line-height: 20px;
  text-align: center;
  font-family: WonderMedium;
  margin: 30px 0 0;
  color: #333132;
}
