.servicos {
    padding: 0px;
    background-color: #fff;
}

.servicos-bg {
    position: relative;
    height: 100vh;
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../../../assets/img/servicos/city9.jpg);
    /* box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.5); */
    box-shadow: 0 5px 12px 0 rgb(0 0 0 / 50%);
}

.servicos-bg .wrapper {
    position: relative;
    z-index: 1;
    transform: none;
}

.servicos-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, rgba(22, 22, 23, 0.74) 10%, rgb(0, 0, 0) 95%);
    z-index: 0;
    overflow: hidden;
}

.servicos__inner {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    max-width: 1080px;
    margin: auto;
}

.servicos__header {
    margin: 0 0 70px;
}

.servicos__header h3 {
    padding: 0 0 20px;
    color: #f5f5f5;
    text-shadow: 2px 2px 7px rgb(0 0 0)
}

.servicos__header p {
    font-family: WonderRegular;
    color: #4a4a4a;
}

.servicos__card {
    width: 250px;
    height: 350px;
    position: relative;
    border-radius: 5px;
    transition: 4s;
    perspective: 2000px;
    margin: 0 20px;
}

.cards {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    transition: all .8s ease;
    background-color: #f5f5f5;
    backface-visibility: hidden;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.servicos__card-front {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    border: 1px #f3f7fb7d solid;
}

.servicos__card-back {
    transform: rotateY(-180deg);
    opacity: 0;
    visibility: hidden;
}

.servicos__card-front img {
    text-align: center;
    display: block;
    margin: 0 auto 0;
    width: 150px;
}

.servicos__card-front img[hidden],
.servicos__card-front>div[hidden] {
    display: none;
}

.servicos__card-front>div {
    text-align: center;
    display: block;
    margin: 0 auto 0;
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.servicos__card-front h4 {
    text-align: center;
    padding: 20px;
    font-size: 2.2rem;
    color: #484848;
    font-family: WonderMedium;
    letter-spacing: 1px;
    line-height: 26px;
}

.servicos__card:hover .servicos__card-front {
    transform: rotateY(-180deg);
}

.servicos__card:hover .servicos__card-back {
    transform: rotate(0);
    opacity: 1;
    visibility: visible;
}

.servicos__card.static:hover {
    box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.servicos__card-back h4 {
    padding-bottom: 10px;
    word-break: break-word;
    color: #333132;
    font-size: 25px;
}

.servicos__card-back p {
    color: #333132;
    font-family: WonderMedium;
    line-height: 20px;
    text-align: left;
    font-size: 1.6rem;
    margin: auto;
    cursor: default;
}

.servicos__card-front::after,
.servicos__card-front::before,
.servicos__card-back::after,
.servicos__card-back::before {
    content: '';
    position: absolute;
    border: 3px #ededed solid;
    width: 104%;
    height: 103%;
    border-radius: 5px;
    transform: translate(0%, 0%);
}

.servicos__card-front::after,
.servicos__card-back::after {
    top: -1px;
    left: -1px;
}

.servicos__card-front::before,
.servicos__card-back::before {
    bottom: -1px;
    right: -1px;
}


/* Acessibilidade */

.contraste .servicos-bg::after {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.89) 10%, rgba(0, 0, 0, 0.98) 95%);
}

.contraste .servicos__card-front {
    background-color: #fce300;
}

.contraste .servicos__card-front h4 {
    color: #000;
}

.contraste .servicos__card-front img {
    filter: contrast(3.7) drop-shadow(6px 4px 6px rgba(255, 255, 255, 1.5)) hue-rotate(116deg) invert(1);
}

.contraste .servicos__card-back {
    background-color: #000;
    border: 2px #fce300 solid;
}

.contraste .servicos__card-back h4,
.contraste .servicos__card-back p {
    color: #fce300;
}

.contraste .servicos__card-back p {
    font-family: WonderRegular;
}


/* Fim Acessibilidade */

@media (max-width: 800px) {
    .servicos-bg {
        padding: 30px;
        height: auto;
    }
    .servicos__header {
        margin: 0 0 30px;
    }
    .servicos__header h3 {
        padding: 0;
    }
    .servicos__inner {
        flex-flow: column;
        align-items: center;
    }
    .servicos__card {
        width: 100%;
        margin: 70px 0 40px;
        height: auto;
        /* min-height: 200px; */
    }
    .servicos__card-front {
        padding: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: none;
        height: 0;
    }
    .servicos__card:hover .servicos__card-front {
        transform: none;
    }
    .servicos__card-front img {
        position: absolute;
        right: 0;
        transform: translate(20%, -40%);
        top: 0%;
        z-index: 1;
        width: 130px;
    }
    .servicos__card-front h4 {
        display: none;
    }
    .servicos__card-back {
        transform: none;
        opacity: 1;
        visibility: visible;
        position: static;
        box-shadow: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 30px 60px 30px 20px;
    }
    .servicos__card-front::after,
    .servicos__card-front::before,
    .servicos__card-back::after,
    .servicos__card-back::before {
        display: none;
    }
}

@media (max-width: 600px) {
    .servicos {
        height: unset;
    }
    .servicos-bg {
        height: unset;
        padding: 10px 0;
    }
    .servicos__inner {
        width: 90%;
        flex-flow: column;
        margin: 50px auto 0;
    }
    .servicos__header {
        margin: 20px 0;
    }
    .servicos__card {
        min-height: unset;
        width: 100%;
        margin: 40px auto;
        background-color: #f5f5f5;
        box-shadow: 5px 5px 14px -1px rgba(0, 0, 0, 0.7);
        position: relative;
    }
    .servicos__card:hover .servicos__card-front {
        transform: none;
        opacity: 1;
        visibility: visible;
        backface-visibility: visible;
        z-index: 0;
    }
    .servicos__card-front {
        box-shadow: none;
        height: 0;
        padding: 0;
        z-index: 0;
    }
    .servicos__card-front img {
        position: absolute;
        transform: translate(20%, -40%);
        right: 0;
        top: 0;
        z-index: 1;
    }
    .servicos__card-front h4 {
        display: none;
    }
    .servicos__card-back {
        opacity: 1;
        visibility: visible;
        transform: none;
        position: static;
        backface-visibility: visible;
        box-shadow: none;
        padding: 20px;
        z-index: 0;
    }
    .servicos__card:hover .servicos__card-back {
        z-index: 0;
    }
    .servicos__card-back h4 {
        width: 60%;
        font-size: 20px;
    }
    .servicos__card-back p {
        overflow: visible;
        width: 85%;
        margin: 0;
    }
}

@media (max-width: 350px) {
    .servicos__card-front img {
        width: 90px;
    }
    .servicos__card-back p {
        width: 100%;
    }
}
