<section class="servicos">
  <div class="servicos-bg">
    <div class="wrapper">
      <header class="servicos__header">
        <h3>Nossos Serviços</h3>
        <p>A BulleST é uma empresa com mais de 7 anos de mercado especializada em desenvolvimento de
          softwares customizados. As soluções são projetadas para otimizar e alinhar processos,
          alavancando equipes de trabalho e multiplicando resultados.</p>
        <p>Sua metodologia não admite soluções genéricas, pois forçam a adaptação dos processos
          das empresas comprometendo o foco e a eficiência dos colaboradores. Com a BulleST o software
          estará sempre a serviço da empresa, evidenciando a promoção de alta produtividade,
          controle e gestão qualificada do negócio. Veja o que a BulleST fará por você:</p>
      </header>
      <div class="servicos__inner">
        <div class="servicos__card">
          <div class="servicos__card-front">
            <img src="../../../assets/img/card-desktop.png" alt="">
            <h4>Aplicações Desktop</h4>
          </div>
          <div class="servicos__card-back">
            <h4>Aplicações Desktop</h4>
            <p>Desenvolvimento de softwares para todos os sistemas operacionais, utilizando-se das tecnologias
              mais adequadas para o atendimento das necessidades de cada cliente.</p>
          </div>
        </div>
        <div class="servicos__card">
          <div class="servicos__card-front">
            <img src="../../../assets/img/card-web.png" alt="">
            <h4>Aplicações Web</h4>
          </div>
          <div class="servicos__card-back">
            <h4>Aplicações Web</h4>
            <p>Alta performance, disponibilidade e escalabilidade. Nossas aplicações Web comunicam, integram
              e vendem produtos e serviços de forma ágil e eficaz.</p>
          </div>
        </div>
        <div class="servicos__card">
          <div class="servicos__card-front">
            <img src="../../../assets/img/card-mobile.png" alt="">
            <h4>Aplicações Mobile</h4>
          </div>
          <div class="servicos__card-back">
            <h4>Aplicações Mobile</h4>
            <p>À frente de um mercado com crescente utilização de smartphones, a equipe da BulleST é
              especializada em desenvolvimento nativo para Android, IOS e Windows Phone.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
