.servicos {
    padding: 0rem 0 0rem;
    background-color: #fff;
}

.servicos-bg {
    position: relative;
    height: 100%;
    padding: 7rem 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../../../assets/img/city9.jpg);
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.5);
}

.servicos-bg .wrapper {
    position: relative;
    z-index: 1;
    transform: none;
}

.servicos-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, rgba(22, 22, 23, 0.74) 10%, rgb(0, 0, 0) 95%);
    z-index: 0;
    overflow: hidden;
}

.servicos__card {
    width: 250px;
    margin: 0 20px;
    position: relative;
    border-radius: 5px;
    min-height: 310px;
    transition: 4s;
    perspective: 2000px;
}

.servicos__inner {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    max-width: 1080px;
    margin: auto;
}

.servicos__header {
    margin: 0 0 70px;
}

.servicos__header h3 {
    padding: 0 0 2rem;
    color: #f5f5f5;
    text-shadow: 2px 2px 7px rgba(0, 0, 0.4);
}

.servicos__header p {
    font-family: WonderRegular;
    color: #4a4a4a;
}

.servicos__card-front {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #f5f5f5;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border: 1px #f3f7fb7d solid;
    border-radius: 5px;
    backface-visibility: hidden;
    transition: all .8s ease;
    box-shadow: 5px 5px 14px -1px rgba(0, 0, 0, 0.2);
}

.servicos__card-front img {
    text-align: center;
    display: block;
    margin: 0 auto 20px;
    width: 120px;
}

.servicos__card-front h4 {
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
    color: #484848;
    font-family: WonderMedium;
    letter-spacing: 1px;
}

.servicos__card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    padding: 30px 20px;
    background-color: #f5f5f5;
    backface-visibility: hidden;
    transition: all .8s ease;
    box-shadow: 5px 5px 14px -1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.servicos__card:hover .servicos__card-front {
    transform: rotateY(-180deg);
}

.servicos__card:hover .servicos__card-back {
    transform: rotate(0);
    opacity: 1;
    visibility: visible;
}

.servicos__card.static:hover {
    box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.servicos__card-back h4 {
    padding-bottom: 19px;
    color: #333132;
    font-size: 2rem;
}

.servicos__card-back p {
    color: #333132;
    letter-spacing: 1px;
    font-family: WonderMedium;
    line-height: 20px;
    text-align: left;
    font-size: 1.4rem;
    margin: auto;
    cursor: default;
}

@media (max-width: 600px) {
    .servicos {
        height: unset;
    }
    .servicos-bg {
        height: unset;
        padding: 10px 0;
    }
    .servicos__inner {
        width: 90%;
        flex-flow: column;
        margin: 50px auto 0;
    }
    .servicos__header {
        margin: 20px 0;
    }
    .servicos__card {
        min-height: unset;
        width: 100%;
        margin: 0 auto 70px;
        background-color: #f5f5f5;
        box-shadow: 5px 5px 14px -1px rgba(0, 0, 0, 0.7);
        position: relative;
    }
    .servicos__card:hover .servicos__card-front {
        transform: none;
        opacity: 1;
        visibility: visible;
        backface-visibility: visible;
    }
    .servicos__card-front {
        box-shadow: none;
        height: 0;
        padding: 0;
    }
    .servicos__card-front img {
        position: absolute;
        transform: translate(20%, -40%);
        right: 0;
        top: 0;
    }
    .servicos__card-front h4 {
        display: none;
    }
    .servicos__card-back {
        opacity: 1;
        visibility: visible;
        transform: none;
        position: static;
        backface-visibility: visible;
        box-shadow: none;
        padding: 20px;
    }
    .servicos__card-back p {
        overflow: visible;
        width: 85%;
        margin: 0;
    }
    .servicos__card-back h4 {
        padding-bottom: 21px;
    }
}