.clientes {
    padding: 40px 0;
    background-color: #f3f3f3d4;
    box-shadow: 2px 2px 12px 9px rgba(0, 0, 0, 0.1);
    position: relative;
    min-height: 737px;
}

.clientes::after,
.clientes::before {
    content: '';
    position: absolute;
    width: 220px;
    height: 100%;
    background-color: #235279;
    background-color: #0c2335;
    top: 0;
    left: 0;
    clip-path: polygon(0% 0%, 30% 0, 10% 50%, 30% 100%, 0% 100%);
}

.clientes::before {
    right: 0;
    top: 0;
    left: unset;
    clip-path: polygon(100% 0, 70% 0, 90% 50%, 70% 100%, 100% 100%);
}

.clientes__inner {
    margin: 0px 0 30px;
    display: flex;
    flex-flow: column;
}

.clientes__inner h3 {
    padding: 10px 0 10px;
}

.clientes__inner>p {
    font-size: 1.9rem;
    font-family: WonderMedium;
    color: #333132;
    text-align: center;
    width: 90%;
    max-width: 560px;
    margin: 20px auto;
}

.ver-clientes {
    width: 60px;
    height: 60px;
    margin: 20px auto;
    display: none;
    align-items: center;
    justify-content: center;
    border: none;
    color: #fff;
    transition: 1s;
    font-size: 3.5rem;
    border-radius: 50%;
    text-align: center;
    background-color: #235279;
}

.clientes__content {
    width: 100%;
    position: relative;
    height: 240px;
    position: relative;
}

.clientes__content-item {
    width: 110px;
    text-align: center;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 2px red;
    margin: 20px;
    position: absolute;
}

.clientes__content-item img {
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
}

.card-8,
.card-10,
.card-12 {
    width: 200px;
}

.card-15 {
    width: 250px;
}

.card-14,
.card-13,
.card-7,
.card-6 {
    width: 90px;
}

.clientes__content-item.card-1 {
    left: 57%;
    top: 60%;
    width: 260px;
}

.clientes__content-item.card-2 {
    left: 62%;
    top: -5%;
    width: 170px;
}

.clientes__content-item.card-3 {
    left: 40%;
    top: 70%;
}

.clientes__content-item.card-4 {
    top: 120%;
}

.clientes__content-item.card-5 {
    top: 46%;
    left: 22%;
    width: 180px;
}

.clientes__content-item.card-6 {
    top: 140%;
    width: 130px;
    right: 16%;
}

.clientes__content-item.card-7 {
    left: 44%;
    top: 13%;
    width: 110px;
}

.clientes__content-item.card-8 {
    top: 25%;
    right: -5%;
    width: 220px;
}

.clientes__content-item.card-9 {
    left: 50%;
    top: 130%;
}

.clientes__content-item.card-10 {
    left: 15%;
    width: 230px;
    top: 0%;
}

.clientes__content-item.card-11 {
    right: 26%;
    top: 103%;
}

.clientes__content-item.card-12 {
    left: 250px;
    width: 220px;
    top: 120%;
}

.clientes__content-item.card-13 {
    width: 60px;
    top: -30%;
    right: 0;
}

.clientes__content-item.card-14 {
    left: 10%;
    top: 70%;
}

.clientes__content-item.card-15 {
    width: 240px;
    left: -3%;
    top: -40%;
}

.clientes__content-item.card-15 img {
    width: 230px;
}

.clientes__content-item.card-16 {
    left: 0;
    top: 51%;
}

.clientes__content-item.card-17 {
    right: 0;
    top: 90%;
    width: 120px;
}

.clientes__content-item.card-18 {
    top: 91%;
    left: 23%;
}


/* Acessibilidade */

.contraste.clientes {
    background-color: #000;
}

.contraste .clientesm::after,
.contraste .clientes::before {
    background-color: #fce300;
}

.contraste .clientes__inner>p {
    color: #fce300;
    font-size: 2.2rem;
}

.contraste.clientes::after,
.contraste.clientes::before {
    background-color: #fce300;
}

.contraste .ver-clientes {
    background-color: #fce300;
    color: #000;
}


/* Fim Acessibilidade */

@media (max-width: 800px) {
    .clientes {
        min-height: unset;
        height: auto;
    }
    .clientes::before {
        clip-path: polygon(100% 0, 90% 0, 97% 50%, 90% 100%, 100% 100%);
    }
    .clientes::after {
        clip-path: polygon(0% 0%, 10% 0, 2% 50%, 8% 100%, 0% 100%);
    }
    .clientes .wrapper {
        height: 100%;
    }
    .clientes__inner {
        height: 100%;
    }
    .clientes__content {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: wrap;
    }
    .clientes__content-item {
        position: static;
    }
    .clientes__content-item.card-1,
    .clientes__content-item.card-2,
    .clientes__content-item.card-3,
    .clientes__content-item.card-4,
    .clientes__content-item.card-5,
    .clientes__content-item.card-6,
    .clientes__content-item.card-7,
    .clientes__content-item.card-8,
    .clientes__content-item.card-9,
    .clientes__content-item.card-10,
    .clientes__content-item.card-11,
    .clientes__content-item.card-12,
    .clientes__content-item.card-13,
    .clientes__content-item.card-14,
    .clientes__content-item.card-15,
    .clientes__content-item.card-16,
    .clientes__content-item.card-17 {
        top: unset;
        right: unset;
        bottom: unset;
        left: unset;
        width: 25%;
    }
    .clientes__content-item.card-1 img,
    .clientes__content-item.card-2 img,
    .clientes__content-item.card-3 img,
    .clientes__content-item.card-4 img,
    .clientes__content-item.card-5 img,
    .clientes__content-item.card-6 img,
    .clientes__content-item.card-7 img,
    .clientes__content-item.card-8 img,
    .clientes__content-item.card-9 img,
    .clientes__content-item.card-10 img,
    .clientes__content-item.card-11 img,
    .clientes__content-item.card-12 img,
    .clientes__content-item.card-13 img,
    .clientes__content-item.card-14 img,
    .clientes__content-item.card-15 img,
    .clientes__content-item.card-16 img,
    .clientes__content-item.card-17 img {
        width: 100%;
        margin: auto;
    }
    .clientes__content-item.card-13 img {
        width: 70px;
    }
    .clientes__content-item.card-1,
    .clientes__content-item.card-8,
    .clientes__content-item.card-10,
    .clientes__content-item.card-12,
    .clientes__content-item.card-15 {
        order: -1;
    }
    .clientes__content-item.card-6,
    .clientes__content-item.card-7,
    .clientes__content-item.card-13,
    .clientes__content-item.card-14 {
        order: 1;
    }
}

@media (max-width: 500px) {
    .clientes__inner {
        margin: 0;
    }
    .clientes__content {
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: 1s height 2s;
    }
    .clientes__content.verClientesOpen {
        height: auto;
        opacity: 1;
        visibility: visible;
        margin: 0 0 50px;
    }
    .clientes__content-item {
        display: none;
    }
    .clientes__content.verClientesOpen .clientes__content-item {
        display: block;
    }
    .ver-clientes {
        display: flex;
        left: 50%;
    }
    .ver-clientes.verClientesOpen {
        transform: rotate(180deg) translateX(50%);
        position: absolute;
        bottom: 0;
    }
}

@media (max-width: 380px) {
    .clientes__content-item.card-1,
    .clientes__content-item.card-2,
    .clientes__content-item.card-3,
    .clientes__content-item.card-4,
    .clientes__content-item.card-5,
    .clientes__content-item.card-6,
    .clientes__content-item.card-7,
    .clientes__content-item.card-8,
    .clientes__content-item.card-9,
    .clientes__content-item.card-10,
    .clientes__content-item.card-11,
    .clientes__content-item.card-12,
    .clientes__content-item.card-13,
    .clientes__content-item.card-14,
    .clientes__content-item.card-15,
    .clientes__content-item.card-16,
    .clientes__content-item.card-17 {
        width: 100%;
    }
}


/* Sem os clientes santander
    Te tiver os clientes santander e santander s3 comente esse godigo
 */

.clientes__content-item.card-12 {
    width: 60px;
    bottom: -80%;
    left: 40%;
}

.clientes__content-item.card-14 {
    left: 16%;
    top: 130%;
    width: 190px;
}

.clientes__content-item.card-5 {
    left: 20%;
    top: 80%;
}

.clientes__content-item.card-6 {
    right: 0%;
}

.clientes__content-item.card-11 {
    top: 150%;
    right: 20%;
}


/* Fim sem os clientes santander */