<section class="contato">
  <div class="contato__faleConosco">
    <h3>Fale Conosco</h3>
    <p>Frase de Efeito</p>
    <form method="POST">
      <label for="nome">Nome: <span>*</span></label>
      <input type="text" name="nome" id="nome" placeholder="Ex: Angela Maria da Silva" required>

      <label for="email">Email: <span>*</span></label>
      <input type="email" name="telefone" id="telefone" placeholder="Telefone" required>

      <label for="telefone">Telefone: <span>*</span></label>
      <input type="text" name="telefone" id="telefone" placeholder="Ex: (11) 95346-3376" required>

      <label for="mensagem">Mensagem:</label>
      <textarea name="mensagem" id="mensagem" placeholder="Sua mensagem aqui..."></textarea>
    </form>
  </div>
  <div class="contato__comoChegar"></div>
</section>
