.sobre-nos__title {
    padding: 20px;
}

.sobre-nos {
    padding: 30px 0;
    overflow: hidden;
    position: relative;
}

.sobre-nos__conteudo {
    display: flex;
    width: 80%;
    margin: 20px auto;
    justify-content: space-between;
    position: relative;
}

.sobre-nos__conteudo::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 102%;
    transform: translateY(-2%);
    background-color: #ca5d00;
}

.sobre-nos__conteudo p {
    width: 45%;
    margin: 0 20px;
}

.sobre-nos__conteudo p:first-child {
    text-align: right;
}

.sobre-nos__inner-footer {
    width: 80%;
    margin: 30px auto;
    font-size: 2.1rem;
    font-family: WonderBlackItalic;
    color: #333132;
    letter-spacing: 0.7px;
    text-align: center;
    text-transform: uppercase;
}

.sobre-nos__inner-footer svg {
    font-size: 9rem;
    margin: 20px 0 50px;
    color: #c15901;
}

.sobre-nos .circle {
    position: absolute;
}

.elemento-imagem {
    width: 150px;
    height: 150px;
    position: fixed;
    -webkit-filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
    transition: linear 10s;
    z-index: -1;
    background-size: 50%;
    opacity: 0.2;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(1) drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}


/* Acessibilidade */

.contraste .sobre-nos__conteudo p,
.contraste .sobre-nos__inner-footer {
    color: #fce300;
}

.contraste .sobre-nos__conteudo p {
    font-size: 1.7rem;
    letter-spacing: 1px;
}

.contraste .sobre-nos__conteudo::after {
    background-color: #fff2cc;
    width: 3px;
}


/* Opcao 2*/

.contraste.sobre-nos {
    background-color: #fce300;
}

.contraste .sobre-nos__title h3.section-title {
    color: #000!important;
}

.contraste .sobre-nos__conteudo p {
    color: #000;
    font-family: WonderMedium;
}

.contraste .sobre-nos__inner-footer {
    color: #000;
    font-family: WonderBlackItalic;
}


/* Fim Opcao 2*/


/* Fim Acessibilidade */

@media (max-width: 800px) {
    .sobre-nos__conteudo {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .sobre-nos {
        background-color: rgba(0, 0, 0, 0.051);
    }
    .sobre-nos__conteudo {
        flex-flow: column;
        width: 100%;
    }
    .sobre-nos__conteudo p {
        width: 100%;
        margin: 0 0 10px;
        text-align: center;
        font-family: WonderRegular;
        font-size: 1.8rem;
    }
    .sobre-nos__conteudo p:first-child {
        text-align: center;
    }
    .sobre-nos__conteudo::after {
        display: none;
    }
}