.footer {
    display: flex;
    align-items: stretch;
    flex-flow: wrap;
    background-color: #03233e;
    background-color: #0a0a0a;
    margin: auto 0 0 0;
    padding: 30px 0 0;
}

.footer__inner {
    display: flex;
}

.footer__logo {
    width: 40%;
}

.footer__logo-link {
    width: 200px;
    height: 150px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.endereco {
    color: #fff;
}

.endereco:hover {
    text-decoration: underline;
}

.footer-navigationInfo {
    display: flex;
    width: 60%;
}

.footer__navigation h3 {
    padding: 10px 10px;
    color: #fff;
    font-family: WonderThin, monospace;
    letter-spacing: 1px;
    text-shadow: 2px 2px 3px rgb(37, 37, 37);
}

.footer__navigation-link {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px rgb(37, 37, 37);
    text-transform: capitalize;
}

.footer__navigation-link:hover {
    background-color: rgba(0, 0, 0, 0.7);
    font-family: WonderMedium;
}

.footer__info-contato p {
    color: #fff;
    margin: 10px 0;
    display: block;
}

.footer__info-contato p:hover {
    text-decoration: underline;
}

.footer__info-contato a {
    color: #fff;
}

.icon-span {
    margin: 0 10px 0 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-span.whatsapp {
    background-color: #25d366;
}

span.icon-span.telefone {
    background-color: #34b7f1;
}

span.icon-span.email {
    background-color: rgb(175, 105, 47);
}

.footer__info {
    margin: 0 auto;
}

.footer__navigation {
    margin: auto;
}

.copiright {
    width: 100%;
    padding: 8px 0;
    margin: 30px 0 0;
    text-align: center;
    color: #fff;
    font-size: 1.3rem;
    font-family: WonderThin;
}


/* Acessibilidade  */

.contraste.footer {
    background-color: #000;
}

.contraste .endereco {
    color: #fce300;
    font-family: WonderMedium;
}

.contraste .footer__navigation h3 {
    color: #fce300;
    font-size: 2.2rem;
}

.contraste .footer__navigation-link {
    color: #fce300;
    font-family: WonderBold;
    font-size: 1.7rem;
}

.contraste .footer__navigation-link:hover {
    background-color: #fce300;
    color: #000;
    text-shadow: none;
}

.contraste .icon-span.telefone,
.contraste .icon-span.whatsapp,
.contraste .icon-span.email {
    color: #fce300;
    background-color: #000;
    border: 2px #fce300 solid;
}

.contraste .footer__info-contato a {
    color: #fce300;
    font-size: 1.8rem;
}

.contraste .copiright {
    color: #fce300;
    font-size: 1.7rem;
}


/* Fim Acessibilidade  */

@media (max-width: 600px) {
    .footer__inner {
        flex-flow: column wrap;
    }
    .footer__logo {
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
    }
    .footer__logo-link {
        height: 7rem;
        width: 150px;
    }
    .endereco {
        margin-left: 30px;
    }
    .footer-navigationInfo {
        margin: 25px 0;
        width: 100%;
        flex-flow: column;
    }
    .footer__navigation {
        margin: 20px 0;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        border: 1px solid #fff;
        border-left: none;
        border-right: none;
        padding: 10px 0;
    }
    .footer__navigation h3 {
        width: 100%;
    }
    .footer__info {
        margin: 0;
        width: 100%;
        padding: 10px;
    }
}