/*Ps: Tudo o que tem :host serve pra sobrescrever o primeng*/

.faq {
    padding: 5rem 0;
}

.duvidas__item-resposta {
    padding: 0 1rem 0;
}

.faq__duvidas {
    margin: 50px;
}

.ui-accordion .ui-accordion-header a {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
}

:host>>>.faq__duvidas-item {
    width: 100%;
    margin: 20px 0 0;
    display: block;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    overflow: hidden;
}

:host>>>.ui-accordion .ui-accordion-header {
    margin-top: 0;
}

:host>>>.faq__duvidas-item a {
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    justify-content: space-between;
    padding: 1.4rem 2rem;
    letter-spacing: 1px;
    font-family: WonderThin;
    color: #fff;
    background-color: #2b2a2a;
}

:host>>>.faq__duvidas-item .ui-state-active a {
    background-color: #ca5d00;
    border: none;
    color: #fff;
}

:host>>>.ui-state-active {
    transition: color 0s;
}

:host>>>.ui-accordion .ui-accordion-content {
    padding: 1em;
    border-top: 0;
    overflow: visible;
    zoom: 1;
    background-color: #f9f9f9;
}

:host>>>.ui-accordion-toggle-icon {
    margin-left: 1rem;
}


/* Acessibilidade */

:host>>>.contraste .faq__duvidas-item a {
    background-color: #fce300;
    color: #000;
    font-family: WonderMedium;
}

:host>>>.contraste .faq__duvidas-item .ui-state-active a {
    background-color: #000;
    color: #fce300;
}

:host>>>.contraste .ui-accordion .ui-accordion-content {
    background-color: #fce300;
    color: #000;
    font-family: WonderBold;
    font-size: 1.9rem;
}


/* Fim Acessibilidade */

@media (max-width: 600px) {
     :host>>>.faq__duvidas-item a {
        align-items: stretch;
    }
     :host>>>.faq__duvidas-item a span {
        padding-top: 1rem;
    }
}