.content-scroll-down {
    display: flex;
    align-items: flex-end;
    height: auto;
    margin-bottom: 0;
    margin-top: calc(100vh - 190px);
}

.btn-scrollDown {
    margin: auto;
    display: block;
    border: none;
    font-size: 5rem;
    background-color: transparent;
    color: #fbfbfbc4;
    color: #ffffff;
    transition: 1s;
    animation: linear BotaoScrollDown 2s infinite;
}

.btn-scrollDown:hover {
    transition: 2s;
    animation: none;
    transform: scale(1.1);
}

.contraste .btn-scrollDown {
    color: #fce300;
}

@keyframes BotaoScrollDown {
    0% {
        transform: translateY(0%);
    }
    10% {
        transform: translateY(10%);
    }
    25% {
        transform: translateY(20%);
    }
    50% {
        transform: translateY(30%);
    }
    75% {
        transform: translateY(20%);
    }
    90% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0%);
    }
}

@media (max-width: 800px) {
    .content-scroll-down {
        margin-top: 0;
        width: 100vw;
        margin-bottom: -10px;
    }
}

@media (max-width: 600px) {
    button.btn-scrollDown {
        margin: auto auto 10px;
    }
}

@media (max-width: 500px) {
    .content-scroll-down {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
