.content-scroll-top {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.content-scroll-top.hidden {
    bottom: -60vh;
    transition: 1s;
    opacity: 0;
}

.content-scroll-top.visible {
    bottom: 0;
    transition: 1s;
    opacity: 1;
}

.btn-scrollTop {
    display: block;
    position: relative;
    margin: 0 2rem 2rem auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    color: #fff;
    background-color: #ca5d00;
    font-size: 2rem;
    transition: .3s;
}

.btn-scrollTop:hover {
    width: 43px;
    height: 43px;
    background-color: #f7780b;
}