<section class="home__banner" id="banner__home" [class.full]="this.bannerFull">
  <div class="banner__imagem" style="background-image: url(../../../../../assets/img/logo-bullest-banner.png);">
    <app-botao-scroll-down></app-botao-scroll-down>
  </div>
</section>
<section class="cases">
  <div class="wrapper">
    <div class="cases__inner">
      <h3>Conheça nosso trabalho</h3>
      <div class="cases__slick">
        <article class="cases__slick-item">oi</article>
        <article class="cases__slick-item">oie</article>
        <article class="cases__slick-item">ooie</article>
        <article class="cases__slick-item">oiie</article>
        <article class="cases__slick-item">oiiee</article>
        <article class="cases__slick-item">ooiiee</article>
      </div>
    </div>
  </div>
</section>
<app-contato></app-contato>
