.home__banner {
    position: relative;
    width: 97%;
    margin: 0 auto 0;
    padding: 0 0 0vh;
    transition: .3s margin .1s;
    box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.banner__imagem {
    box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to right bottom, rgba(22, 22, 23, 0.74) 10%, rgb(0, 0, 0) 95%), url(./../../../assets/img/servicos/city9.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 20px - 75px);
    display: flex;
    justify-content: center;
    position: relative;
}

.logo-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-43%, -70%);
}

.home__banner.full {
    width: 100%;
    margin: 10px 0 0;
    box-shadow: none;
}

.banner__frases {
    position: absolute;
    top: 80%;
    width: 50%;
    margin: 0 auto;
    transform: translateY(-100%);
}

.banner__frases-inner {
    height: 70px;
    padding: 10px;
    line-height: 30px;
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
    font-family: WonderThinItalic;
}

.logo-banner--contraste {
    display: none;
}


/*Acessibilidade*/

.contraste .banner__frases-inner {
    color: #fce300;
    font-family: WonderRegular;
}

.contraste .banner__imagem {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.92) 10%, rgba(0, 0, 0, 0.94) 65%), url(./../../../assets/img/servicos/city9.jpg);
}


/*Fim Acessibilidade*/

@media (max-width: 800px) {
    .banner__imagem {
        align-items: center;
        flex-flow: wrap;
        align-content: center;
    }
    .logo-banner {
        position: static;
        transform: translate(10%, 0%);
    }
    .banner__frases {
        width: 95%;
        position: static;
        margin-top: 0;
        top: unset;
        transform: translateY(0);
    }
    .banner__frases-inner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner__imagem,
    .home__banner {
        box-shadow: none;
    }
}

@media (max-width: 700px) {
    .banner__frases-inner {
        height: 150px;
    }
}

@media (max-width: 500px) {
    .banner__imagem {
        height: calc(100vh);
        padding-top: 70px;
    }
    .home__banner {
        width: 100%;
        margin: 0;
    }
    .logo-banner {
        transform: translate(10px, 0px);
        width: 80%;
    }
}