@import 'fonts.css';
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .2s ease;
}
*:not(input):focus {
  outline: none;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: WonderRegular;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.wrapper {
  margin: 0 auto;
  width: 85%;
  max-width: 1150px;
}
.main {
  min-height: calc(100vh - 70px - 230px);
}
