@import 'assets/css-aditional/fonts.css';
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s ease;
}

*:not(input):focus {
    outline: none;
}

*:active {
    background: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: WonderRegular;
}

p {
    line-height: 2.3rem;
}

img {
    max-width: 100%;
    border: 0;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

button {
    cursor: pointer;
}

button:active {
    box-shadow: inset -1px -1px 6px 2px rgba(0, 0, 0, 0.3)
}

.wrapper {
    margin: 0 auto;
    width: 85%;
    max-width: 1150px;
}

.main {
    min-height: calc(100vh - 70px - 230px);
}

body.modalOpen {
    overflow: hidden;
}

.section-title {
    font-size: 6rem;
    font-family: WonderBold;
    color: #333132;
    text-align: center;
    letter-spacing: 0.5px;
}

.circle {
    width: 150px;
    height: 150px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    box-shadow: inset 0px 0px 45px -16px rgba(0, 0, 0, 0.6);
    transition: linear 10s;
    z-index: -1;
}

@media (max-width: 600px) {
    .section-title {
        font-size: 4rem;
    }
}


/* #2b2a2a - Preto*/


/* #df6a06 - Laranja */


/* #ba5600 - Laranja Hover*/


/* #235279 - Azul */


/* #34b7f1 - Azul Icone */


/* #085c08 - Verde Icone/Botão   */


/* #ff0000 - Vermelho para erros */


/* #e9e8e8 - Cinza Background */