/* 
$color-dark: #cc9600; 
$color-medium: #ffbc00;
$color-yellow: #fce300;
$color-light: #fff2cc;
$color-black: #000;
$color-white: #fff;
body.contraste {
    .header,
    .header__navigation {
        background-color: $color-black;
    }
}
*/


/* #cc9600 - Laranja Escuro */


/* #ffbc00 - Laranga Medio*/


/* #fce300 - Amarelo*/


/* #fff2cc - Amarelo Claro*/

body.contraste .header,
body.contraste .header__navigation,
body.contraste .navigation__links,
body.contraste .header__navigation-link,
body.contraste .navigation__links.active .header__navigation-link,
body.contraste .btn-acessibilidadeMenu {
    background-color: #000!important;
    color: #fce300!important;
}

body.contraste .navigation__links.active .header__navigation-link:hover,
body.contraste .header__navigation-link:hover,
body.contraste .btn-acessibilidadeMenu:hover,
body.contraste .sobre-nos {
    background-color: #fce300!important;
    color: #000!important;
    text-shadow: none!important;
}

body.contraste .section-title,
body.contraste .sobre-nos__inner-footer {
    color: #000;
}

body.contraste .servicos__header h3,
body.contraste .btn-scrollDown,
body.contraste .banner__frases-inner {
    color: #fce300!important;
}


/*Além das cores*/

body.contraste .banner__imagem,
body.contraste .servicos-bg::after {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 1.1) 50%, rgb(0, 0, 0, 1) 95%), url(./../img/city9.jpg)
}

body.contraste button.btn-acessibilidadeMenu {
    font-family: WonderRegular;
}

body.contraste .sobre-nos__conteudo p {
    font-family: WonderMedium;
}

body.contraste .sobre-nos__conteudo::after {
    background-color: #fff2cc;
    width: 4px;
}